@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFD4C9;
}

.googleSignInButton {
  position: relative;
  left: 48px;
  margin-top: 30px;
}

.searchBar {
  width: 30rem;
  justify-content: center;
}

.addIcon{
  margin-top: 6px;
}

.topNavIcons {
  display:flex;
}

.container{
  margin-top:85px;
  margin-left:100px;
  /* background-color: green; */
  max-width:92vw;
}

.yapTrackNavLogo {
  display:flex;
  height: 40px;
  width: 80px;
  margin-right: 10px;
}

#__next{
  background-color: #FFD4C9;
  width: 100vw;
  height: 100vh;
}
.header{
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}
