@import 'bootstrap/dist/css/bootstrap.css';
@import 'react-big-calendar/lib/css/react-big-calendar.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFD4C9;
}

.googleSignInButton {
  position: relative;
  left: 48px;
  margin-top: 30px;
}

.searchBar {
  width: 30rem;
  justify-content: center;
}

.addIcon{
  margin-top: 6px;
}

.topNavIcons {
  display:flex;
}

.container{
  margin-top:85px;
  margin-left:100px;
  /* background-color: #FFD4C9; */
  max-width:92vw;
}

.yapTrackNavLogo {
  display:flex;
  height: 40px;
  width: 80px;
  margin-right: 10px;
  margin-top: 10px;
}

#__next{
  background-color: #FAF0D7;
  width: 100vw;
  height: 150vh;
}

.header{
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}

.billCardHeader{
  height:auto;
  max-height: 20px;
  margin-top: 5px;
}

.billCard{
  margin:10px;
}

.red{
  color: red;
  background-color: #FAF0D7;
}

.orange{
  color: orange;
  background-color: #FAF0D7;
}

.green{
  color: green;
  background-color: #FAF0D7;
}

.paymentsHeader{
  font-family: 'Courier New', Courier, monospace;
}

.paymentFilter{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.submitPaymentFilterButton{
  margin-left: 5px;
  height: 55px;
  color: black;
  background-color: #FAF0D7;
}

.thaGrid {
  height: 50px;
}

.mySpendingSubheader{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.searchPageSubheader {
  margin-bottom: 30px;
}

.datePicker{
  background-color: white;
}

.filters{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.monthAtAGlanceButton {
  display: flex;
  margin-left: auto;
}

.rbc-off-range-bg {
  background: lightgray !important
}

.rbc-header {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  border-bottom: 1px solid black !important
}
.rbc-header + .rbc-header {
  border-left: 1px solid black !important
}
.rbc-rtl .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid black !important
}

.rbc-month-view {
  position: relative;
  border: 1px solid black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  width: 100%;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  height: 100%;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid black !important;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid black !important;
}
